body {
    background-color: #161616;
    color: #FFFFFF;
}

button {
    background-color: #582C82;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #FFFFFF;
    color: #582C82;
  }